---
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>astro nginx docker</title>
	</head>
	<body class="flex items-center justify-center h-full bg-pink-100">
		<h1 class="text-pink-800 font-medium text-lg font-mono">not found 😔</h1>
	</body>
</html>
